/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Blanc cassé */
  color: #333; /* Noir */
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* Blanc */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Légère ombre */
  text-align: center; /* Centre le texte à l'intérieur */
}

/* Titre */
h1, h2, h3 {
  color: #333; /* Noir */
}

/* Boutons */
button {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Blanc */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 10px; /* Ajoute un espace autour des boutons */
}

button:hover {
  background-color: #0056b3; /* Bleu foncé */
}

/* Formulaires */
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; /* Gris clair */
  border-radius: 5px;
}

/* Tableau */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd; /* Gris plus clair */
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Blanc */
}

/* Sections */
.info-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permet l'ajustement sur petits écrans */
}

.client-info, .company-info {
  width: 48%;
  margin-bottom: 20px; /* Ajoute un espace en bas pour les petits écrans */
}

.client-info {
  flex: 1 1 100%;
}

.company-info {
  flex: 1 1 100%;
}

/* Signature */
#signaturePad {
  margin-top: 20px;
}

#signatureCanvas {
  border: 1px solid #ccc; /* Gris clair */
  border-radius: 5px;
  width: 100%; /* S'assure que le canvas prend toute la largeur disponible */
}

/* Ajout d'articles */
#addDevisItemButton {
  margin-top: 20px;
}

/* Clear Signature Button */
#clearSignatureButton {
  background-color: #dc3545; /* Rouge */
  color: #fff; /* Blanc */
}

#clearSignatureButton:hover {
  background-color: #bd2130; /* Rouge foncé */
}

/* Responsive Design */
@media (max-width: 768px) {
  .info-container {
    flex-direction: column; /* Colonne sur petits écrans */
  }

  .client-info, .company-info {
    width: 100%; /* 100% de la largeur sur petits écrans */
  }

  button {
    width: 100%;
    margin: 5px 0;
  }
}
